// =============================================================================
// Normalize box sizing
// =============================================================================
*, *::before, *::after { box-sizing: border-box; }

// =============================================================================
// Body reset
// =============================================================================
body {
    margin: 0; padding: 0;
    font-size: $base;
    font-family: sans-serif;
}
p{
    margin: 0;
}
img{
    display: block;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}

.back-lin{
    &::before{
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background-image: linear-gradient($darkgolden, $golden, $lighgolden, $golden, $darkgolden);
        border-radius: 50%;
        z-index: -1;
    }
}
.modal-open{
    overflow: hidden;
}