// =============================================================================
// Colors
// =============================================================================
$darkblack: #0a0a0c;
$black: #101217;
$white: #ffffff;

$blue: rgb(51, 158, 201);

$lightgold: #c4b998;
$gold: rgb(255, 140, 0);

$lighgolden: #c6b98b;
$golden: rgb(255, 140, 0);
$darkgolden: #3e3310;


// =============================================================================
// Breakpoints based on dead devices zone
// https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
// =============================================================================
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1800px;

// =============================================================================
// Fonts
// =============================================================================
$base: 16px;

// =============================================================================
// TimeLine
// =============================================================================
$timeline-left: 3%;
$timeline-right: 4%;