<template>
  <full-page
    id="fullpage"
    ref="fullpage"
    :options="options"
  >
    <Section
      v-for="(projet, index) in projets"
      :key="index"
      :section="projet"
    />
    <Conclusion />
  </full-page>
</template>

<script>
import $ from 'jquery'
import Section from 'components/Section'
import Conclusion from 'components/Conclusion'
export default {
  name: 'Home',
  components: {
    Section,
    Conclusion
  },
  data () {
    return {
      locale: {
        title: this.$store.state.i18n.content
      },
      options: {
        anchors: ['Arrivée', 'Vue', 'party', 'Amerique', 'challenge', 'training', 'last', 'bonus'],
        afterLoad: function (origin, destination, direction) {
          console.log(destination.anchor)
          if (destination.anchor === 'Arrivée') {
            $('.xp').removeClass('step2')
          }
          if (destination.anchor === 'Vue') {
            $('.xp').addClass('step2')
            $('.xp').removeClass('step3')
            $('.state1').removeClass('disable')
            $('.state2').removeClass('activated')
          }
          if (destination.anchor === 'party') {
            $('.xp').addClass('step3')
            $('.xp').removeClass('step4')
            $('.state1').addClass('disable')
            $('.state2').addClass('activated')
          }
          if (destination.anchor === 'Amerique') {
            $('.xp').addClass('step4')
            $('.xp').removeClass('step5')
          }
          if (destination.anchor === 'challenge') {
            $('.xp').addClass('step5')
            $('.xp').removeClass('step6')
          }
          if (destination.anchor === 'training') {
            $('.xp').addClass('step6')
            $('.xp').removeClass('step7')
            $('.state2').addClass('activated')
            $('.state3').removeClass('activated')
            $('.tete1').removeClass('disable')
            $('.tete2').removeClass('activated')
          }
          if (destination.anchor === 'last') {
            $('.xp').addClass('step7')
            $('.tete1').addClass('disable')
            $('.tete2').addClass('activated')
            $('.state2').removeClass('activated')
            $('.state3').addClass('activated')
          }
          // using index
        }
      },
      projets: this.$store.state.projets.projets
    }
  },
  metaInfo () {
    return {
      title: this.locale.title,
      titleTemplate: '%s | Client'
    }
  },
  mounted () {
    this.callfunction()
    // this.scrollOff()
    // this.listenScroll()
  },
  methods: {
    callfunction () {
      console.log('yo')
    },
    scrollOff () {
      this.$refs.fullpage.api.setAllowScrolling(false)
    },
    scrollOn () {
      this.$refs.fullpage.api.setAllowScrolling(true)
    },
    // listenScroll () {
    //   console.log('listen')
    //   addEventListener('wheel', () => {
    //     $('.state2').addClass('activated')
    //     $('.state1').addClass('disable')
    //     setTimeout(() => {
    //       $('.state2').removeClass('activated')
    //       $('.state3').addClass('activated')
    //     }, 1000)
    //     setTimeout(() => {
    //       this.scrollOn()
    //     }, 2000)
    //   })
    // },
    console () {
      console.log('yaaaa')
      console.log($('.xp'))
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/_variables";

#fullpage {
  position: relative;
  color: $lightgold;
  background: $darkblack;
  &::before{
    content: '';
    display: block;
    width: 1px;
    height: 80%;
    background: $gold;
    // background-image: linear-gradient(to right, rgb(198, 185, 139), rgb(128, 103, 52), rgb(62, 51, 16));
    border-radius: 5px;
    position: absolute;
    top: 1%;
    left: $timeline-left;
    transform: translateX(-50%);
    z-index: 5;
    @media (max-width: $sm) {
      left: auto;
      right: $timeline-right;
      transform: translateX(-50%);

    }
  }
}
@keyframes ani{
  0%{
    background: red;
  }
  25%{
    background: pink
  }
  50%{
    background: green;
  }
  75%{
    background: blue;
  }
  100%{
    background: red;
  }
}
</style>
