<template>
  <div class="arrowdown">
    <div class="line1" />
    <div class="line2" />
  </div>
</template>

<script>
export default {
  name: 'ArrowDown',
  components: {}
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/_variables";

.arrowdown{
  width: 100%;
  height: 5px;
  .line1, .line2{
    background: linear-gradient(to right, $darkblack, $gold, $darkblack);
    height: 1px;
    position: relative;
    margin-bottom: 2px;
    &::after{
      content: '';
      display: block;
      width: 0px;
      height: 0px;
      background: $darkblack;
      border-right: 1px solid $gold;
      border-bottom: 1px solid $gold;
      position: absolute;
      top: 1px;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: 300ms;
    }
  }
  .line2{
    background: linear-gradient(to right, $darkblack 10%, $gold, $darkblack 90%);

  }
  &.actived .line1::after{
    width: 25px;
    height: 25px;
  }

  &.actived .line2::after{
    width: 8px;
    height: 8px;
  }
}
</style>
