<template>
  <div class="section">
    <div class="title">
      <h2>Bonus !</h2>
      <ArrowDown />
    </div>
    <div class="all">
      <div>
        <img
          src="../assets/img/ligretto_logo.png"
          alt="apéro"
        >
      </div>
      <div>
        <img
          src="../assets/img/codenames_logo.png"
          alt="apéro"
        >
      </div>
      <div>
        <img
          src="../assets/img/burgerquiz_logo.png"
          alt="apéro"
        >
      </div>
      <div>
        <img
          src="../assets/img/inglewood_logo.png"
          alt="apéro"
        >
      </div>
      <div>
        <img
          src="../assets/img/compagnie.png"
          alt="apéro"
        >
      </div>
      <div>
        <img
          src="../assets/img/vapiano_logo.png"
          alt="apéro"
        >
      </div>
      <div>
        <img
          src="../assets/img/five_logo.png"
          alt="apéro"
        >
      </div>
    </div>
  </div>
</template>

<script>
import ArrowDown from 'components/ArrowDown'

export default {
  name: 'Conclusion',
  components: {
    ArrowDown
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/_variables";

.section{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 50px;
  width: 64%;
  @media (max-width: $sm) {
    padding: 20px;
    width: 100%;
  }
  .title{
    width: max-content;
    margin: 20px 0;
    h2{
      margin: 0;
      font-size: 45px;
    }
  }
  .all{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    div{
      display: flex;
      width: 26%;
      align-items: center;
      @media (max-width: $sm) {
        margin: 20px 0;
      }
    }
    img {
      width: 100%;
      @media (max-width: $sm) {
        width: 100px;
      }
    }
  }
  p{
    font-size: 23px;
    line-height: 30px;
  }
}
</style>
