<template>
  <div id="intro">
    <h1>Carnet de bord de Driss Ben Mimoun</h1>
    <div class="profil">
      <img
        src="../assets/img/moi.jpg"
        alt="Moi"
      >
    </div>
    <p>En ce jour du 19 août 2019 commence une nouvelle aventure. Après 1 an de préparation, je décide de partir en quête de connaissances dans cette agence répondant au nom de SQLI. Je me demande si je suis suffisament préparé... Advienne que pourra je ne peux plus faire marche arrière.</p>
    <button
      @click="disable()"
    >
      Start
    </button>
  </div>
</template>

<script>
import $ from 'jquery'
export default {
  name: 'Intro',
  components: {},
  methods: {
    disable () {
      $('#intro').addClass('disable')
      $('.xp').addClass('step1')
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/_variables";

#intro{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  color: $lightgold;
  background: $black;
  transition: 1000ms;
  &.disable{
    top:-100vh;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $sm) {
    justify-content: center
  }
}
h1 {
  text-align: center;
}
.profil{
  border: 1px solid $gold;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  img{
    width: 100%;
  }
}
p {
  max-width: 800px;
  font-size: 25px;
  margin: 20px 0;
  padding: 10px;
}
button {
  background: $gold;
  padding: 10px 40px 10px 20px;
  border: none;
  color: $white;
  font-size: 25px;
  transform: skewX(-15deg);
  position: relative;
  transition: 500ms;
  &:hover{
    transform: skewX(-15deg) scale(1.1);
    &::before{
      top: 50%;
    }
    &::after{
      top: 60%;
    }
  }
  &::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid $white;
    border-right: 2px solid $white;
    position: absolute;
    top: 40%;
    right: 20px;
    transform: translateY(-50%) rotate(135deg);
    transition: 300ms;
  }
  &::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid $white;
    border-right: 2px solid $white;
    position: absolute;
    top: 55%;
    right: 20px;
    transform: translateY(-50%) rotate(135deg);
    transition: 300ms;
  }
}
</style>
