<template>
  <div class="perso">
    <div class="champion">
      <img
        src="../assets/img/perso-01.png"
        alt="evolution1"
        class="state1"
      >
      <img
        src="../assets/img/perso-02.png"
        alt="evolution1"
        class="state2"
      >
      <img
        src="../assets/img/perso-03.png"
        alt="evolution1"
        class="state3"
      >
    </div>
    <div class="infolevel">
      <div class="currentlevel back-lin">
        <img
          src="../assets/img/tete.png"
          class="tete1"
          alt="tête"
        >
        <img
          src="../assets/img/tete2.png"
          class="tete2"
          alt="tête"
        >
      </div>
      <div class="tracing">
        <div class="xp" />
        <div class="achievement">
          <ul>
            <li />
            <li />
            <li />
            <li />
            <li />
            <li />
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Profil',
  components: {}
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/_variables";

.perso{
  position: absolute;
  top: 0;
  left: 70%;
  color: white;
  width: 30%;
  z-index: 5;
  background: $black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: $sm) {
    width: 100%;
    left: 0;
    top: calc(100vh - 50px);
    display: block;
  }
}
.champion{
  max-width: 400px;
  margin: 0px auto 20px;
  border: 1px solid $gold;
  position: relative;
  @media (max-width: $sm) {
    display: none;
  }
  .state1{
    width: 100%;
    transition: 1000ms;
    &.disable {
      opacity: 0;
    }
  }
  .state2{
    position: absolute;
    opacity: 0;
    top:0;
    left:0;
    width: 100%;
    transition: 1000ms;
    &.activated {
      opacity: 1;
    }
  }
  .state3{
    position: absolute;
    opacity: 0;
    top:0;
    left:7px;
    width: 100%;
    transition: 1000ms;
    &.activated {
      opacity: 1;
    }
  }
}
.infolevel{
  display: flex;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  @media (max-width: $sm) {
    max-width: none;
  }
}
.currentlevel{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: relative;
  color: $white;
  background-color: $darkblack;
  img {
    width: 100%;
  }
  .tete1{
    transition: 300ms;
    &.disable{
      opacity: 0
    }
}
  .tete2{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    transition: 300ms;
    &.activated{
      opacity: 1;
    }
  }
  @media (max-width: $sm) {
    border-radius: 0;
  }
  &.back-lin::before{
    @media (max-width: $sm) {
      border-radius: 0;
    }
  }
}
.tracing{
  flex-grow: 1;
  z-index: -3;
  margin-left: -15px;
  .xp{
    position: relative;
    margin: 1px;
    margin-right: 2px;
    height: 50%;
    background: $black;
    &::before{
      content: '';
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      background: linear-gradient($darkgolden, $golden, $lighgolden);
      z-index: -1;
    }
    &::after{
      content: '';
      display: block;
      width: 0%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(rgba($gold,0.1),$gold);
      transition: 2000ms;
    }
    &.step1::after{
      width: 10%;
    }
    &.step2::after{
      width: 20%;
    }
    &.step3::after{
      width: 30%;
    }
    &.step4::after{
      width: 40%;
    }
    &.step5::after{
      width: 60%;
    }
    &.step6::after{
      width: 80%;
    }
    &.step7::after{
      width: 100%;
    }
  }
  .achievement{
    height: 50%;
    padding-left: 10px;
    ul{
      height: 100%;
      display: flex;
    }
    li{
      display: block;
      height: 100%;
      flex-grow: 1;
      position: relative;
      &::before{
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: linear-gradient($black, rgba($white, 0.3));
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
@keyframes anima{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
</style>
