<template>
  <div id="screen-modal">
    <div class="top">
      <h3>
        Screen Shot
      </h3>
      <button
        class="cross"
        @click="closeScreenModal()"
      />
    </div>
    <div class="screen">
      <div class="slider">
        <img
          src="../assets/img/nespresso_black.jpg"
          alt="slider"
        >
      </div>
      <div class="slider-title">
        Maquette
      </div>
    </div>
  </div>
</template>

<script>
// import TitleSection from 'components/TitleSection'
import $ from 'jquery'

export default {
  name: 'ScreenModal',
  components: {
    // TitleSection
  },
  methods: {
    closeScreenModal: function () {
      $('#screen-modal').addClass('remove')
      $('#screen-modal').removeClass('activated') // Supprime la class here a l'id modal-video
      setTimeout(function () { $('#screen-modal').removeClass('remove') }, 300)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/_variables";

#screen-modal{
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  height: 100vh;
  color: white;
  background: $black;
  z-index: 1000;
  color: $lightgold;
  &.activated{
    display: block;
    animation: animate 200ms ease-in;
    animation-fill-mode: forwards;
  }
  &.remove{
    display: block;
    animation: zoomed 300ms ease-in;
    animation-fill-mode: forwards;
  }
  .top{
    margin-top: 2px;
    border-top: 2px solid $gold;
    border-bottom: 1px solid rgba($gold, 0.3);
    display: flex;
    h3{
      opacity: 0;
      flex-grow:1;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: try 300ms;
      animation-delay: 300ms;
      animation-fill-mode: forwards;
    }
    .cross{
      width: 70px;
      height: 70px;
      border: none;
      border-left: 1px solid rgba($gold, 0.3);
      background: none;
      position: relative;
      &::before, &::after{
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: $gold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after{
        transform: translate(-50%, -50%) rotate(-45deg);

      }
    }
  }
}
.screen{
  max-width: 1280px;
  margin: 0 auto;
  border: 1px solid rgba($gold, 0.3);
  border-top: none;
  opacity: 0;
  animation: try 300ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  .slider{
    img{
      padding: 0 300px;
      width: 100%;
    }
  }
  .slider-title{
    border-top: 1px solid rgba($gold, 0.3);
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
}
@keyframes animate {
  0% {
    display: block;
    top: -100vh;
  }
  100%{
    display: block;
    top: 0;
  }
}
@keyframes zoomed {
  0%{
    display: block;
    top: 0;
  }
  100% {
    display: block;
    transform: scale(1.3);
    opacity: 0;
  }
}
@keyframes try {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
</style>
