<template>
  <div class="section">
    <div class="insection">
      <div class="container">
        <div class="project-name">
          <h3>{{ section.title }}</h3>
          <ArrowDown />
        </div>
        <div class="info">
          <p class="description">
            {{ section.description }}
          </p>
          <div class="carre">
            <div class="abs">
              <div
                v-for="(logo, index) of section.enterprise"
                :key="index"
                class="logo"
              >
                <img
                  :src="'static/img/'+logo+'_logo.png'"
                  alt="logo"
                >
              </div>
            </div>
          </div>
          <!-- <button
            class="screen"
            @click="openScreenModal()"
          >
            <div class="img-screen">
              <i class="material-icons">
                desktop_windows
              </i>
            </div>
            <p>Screen shot</p>
            <span>See the screen shot</span>
          </button> -->
        </div>
      </div>
      <TitleSection title="Skills" />
      <ul class="skills">
        <li
          v-for="(skill, index) of section.skills"
          :key="index"
          :value="skill"
          class="back-lin"
        >
          <img
            :src="'static/img/'+skill+'_logo.png'"
            alt="logo skill"
          >
          {{ skill }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import ArrowDown from 'components/ArrowDown'
import TitleSection from 'components/TitleSection'
import $ from 'jquery'

export default {
  name: 'Section',
  components: {
    ArrowDown,
    TitleSection
  },
  props: {
    section: {
      type: Object,
      required: true,
      default: null
    }
  },
  data () {
    return {
      logos: {
        css: '../assets/img/css_logo.png'
      }
    }
  },
  mounted () {

  },
  methods: {
    openScreenModal: function () {
      $('body').addClass('modal-open') // Ajoute la classe modal-open au body
      $('html').addClass('modal-open') // Ajoute la calsse modal-open a html
      $('#screen-modal').addClass('activated') // Ajoute la classe here a ma div qui me servira de popup
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/_variables";

.section {
  position: relative;
  z-index: 0;
  .insection{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 6%;
    width: 64%;
    @media (max-width: $sm) {
      width: 84%;
    }
  }
  &::before{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: $gold;
    border: 2px solid $darkblack;
    box-shadow: 0px 0px 0px 2px $gold;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: $timeline-left;
    transform: translate(-50%, -50%);
    z-index: 5;
    @media (max-width: $sm) {
      left: auto;
      right: $timeline-right;
      transform: translate(50%, -50%);
      width: 20px;
      height: 20px;
    }
  }
}
.project-name{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: max-content;
  .img{
    width: 100px;
    img{
      filter: invert(1);
      -webkit-filter: invert(1);
    }
  }
  h3{
    font-size: 45px;
    margin: 0 0 10px;
    display: inline-block;
    z-index: 10;
    @media (max-width: $sm) {
      font-size: 25px;
    }
  }
}
.info{
  display: flex;
  margin: 20px 0;
  align-items: center;
  @media (max-width: $sm) {
    flex-direction: column;
    margin-bottom: 5px;
  }
}

.description{
  font-size: 21px;
  width: 60px;
  flex-grow: 1;
  line-height: 30px;
  font-size: 23px;
  @media (max-width: $sm) {
    width: 100%;
    font-size: 20px;
    line-height: 22px;
  }
}

.level{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 10px;
  position: relative;
  color: $white;
  background-color: $darkblack;
}

.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  li{
    width: 100px;
    height: 100px;
    padding: 15px;
    text-align: center;
    margin: 15px;
    position: relative;
    background: $black;
    border-radius: 400px;
    @media (max-width: $sm) {
      margin: 5px;
      width: 80px;
      height: 80px;
    }
    img{
      width: 80%;
      margin: 0 auto;
    }
  }
}
.carre {
  width: 30%;
  position: relative;
  margin: 5px;
  @media (max-width: $sm) {
    display: none;
  }
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .abs {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      img {
        width: 100%;
      }
    }
  }
}
.screen{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 160px;
  width: 250px;
  padding: 0;
  border: 0.5px solid rgba($gold,0.2);
  overflow: hidden;
  transition: 300ms;
  margin: 0 auto;

  // to remove button style
  background: none;
  color: unset;
  font-size: unset;
  font-family: unset;
  // button style rm

  &:hover{
    transform: scale(1.08);
    span{
      height: 55px;
    }
  }
  i{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: $gold;
    font-size: 85px;
  }
  p, span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    border-top: 1px solid rgba($gold, 0.2);
    background: $black;
    overflow: hidden;
    z-index: 3;
  }
  span{
    height: 0;
    transition: 300ms;
  }
}

</style>
