<template>
  <h3>
    <span class="left-section" />
    <span class="title-section">{{ title }}</span>
    <span class="right-section" />
  </h3>
</template>

<script>
export default {
  name: 'TitleSection',
  components: {},
  props: {
    title: {
      type: String,
      required: true,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/_variables";

h3{
  display: flex;
  justify-content: center;
  align-items: center;
  .title-section{
    padding: 0 30px;
  }
  .left-section, .right-section{
    display: block;
    flex-grow:1;
    height: 1px;
    position: relative;
    &::after{
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      border: 1px solid $gold;
      position: absolute;
      right: -5px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  }
  .left-section{
    background: linear-gradient(to right, $darkblack, $gold);
  }
  .right-section{
    background: linear-gradient(to left, $darkblack, $gold);
    &::after{
      right: unset;
      left: -5px;
    }
  }
}
</style>
