<template>
  <div class="container">
    <Intro />
    <Home />
    <Profil />
    <ScreenModal />
  </div>
</template>

<script>
import CONFIG from '../config/config.json'
import Intro from 'components/Intro'
import Home from 'pages/Home'
import Profil from 'components/Profil'
import ScreenModal from 'components/ScreenModal'
import PROJETS from './static/projets.json'

// import HeaderPart from 'layouts/HeaderPart'
// import FooterPart from 'layouts/FooterPart'

export default {
  name: 'App',
  components: {
    Intro,
    Home,
    Profil,
    ScreenModal
  },
  data () {
    return {
      currentLang: 'en',
      configFile: null
    }
  },
  beforeCreate () {
    // Get environment config
    let env = process.env.NODE_ENV

    // Load JS Object for config in datas
    this.configFile = CONFIG

    if (env === 'development') {
      this.$store.commit('storeConfig', this.configFile.URL.DEV)
    } else if (env === 'production') {
      this.$store.commit('storeConfig', this.configFile.URL.PROD)
    } else {
      this.$store.commit('storeConfig', this.configFile.URL.DEV)
    }

    // Get HTML Lang attribute
    const currentHTMLLang = document.documentElement.lang

    this.currentLang = currentHTMLLang.split('-')[0]

    this.$store.commit('storeLocale', this.currentLang)
    this.$store.commit('storeI18n', require('./static/locale/' + this.$store.state.locale + '.json'))
    this.$store.commit('storeProjets', PROJETS)
  }
}
</script>

<style lang="scss">
  @import "assets/scss/variables";
  @import "assets/scss/master";
  .container{
    position: relative;
  }
</style>
