<template>
  <footer>
    <h4>{{ locale.title }}</h4>
  </footer>
</template>

<script>
export default {
  name: 'FooterPart',
  data () {
    return {
      locale: {
        title: this.$store.state.i18n.footer
      }
    }
  }
}
</script>

<style lang="scss" scoped>
    footer { background: green; }
</style>
