<template>
  <header>
    <h1>{{ locale.title }}</h1>
  </header>
</template>

<script>
export default {
  name: 'HeaderPart',
  data () {
    return {
      locale: {
        title: this.$store.state.i18n.header
      }
    }
  }
}
</script>

<style lang="scss" scoped>
    header { background: red; }
</style>
